[{"imagem": "/home/ortomis/Projetos/PIBIC/Imagens/default.jpg", "texto": "Dog", "template": "2"}, {"imagem": "/home/ortomis/Projetos/PIBIC/Imagens/bike.jpg", "texto": "Bike", "template": "2"}, {"imagem": "/home/ortomis/Projetos/PIBIC/Imagens/default.jpg", "template": "1", "op1": "Dog", "op2": "Car", "op3": "Table", "op4": "Cat", "correta": "1"}, {"imagem": "/home/ortomis/Projetos/PIBIC/Imagens/bike.jpg", "template": "1", "op1": "Tree", "op2": "Car", "op3": "Bike", "op4": "Dog", "correta": "3"}]
